html {
    font-family: sans-serif;
    font-size: 17px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

*, *::after, *::before {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(92, 103, 168);
    display: flex;
    justify-content: left;
    align-items: center;
}

header img {
    width: 100px;
}

.main-form {
    position: relative;
    background-color: #FFA000;
    width: 40%;
    margin: 40px auto 100px auto;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    color: #fff;
}

.main-form input:not([type="checkbox"]) {
    width: 50%;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.main-form select {
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-family: sans-serif;
}

.form-row {
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-row > textarea {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-email {
    display: none;
}

.form-btn {
    background-color: rgb(92, 103, 168);
    border: none;
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    transition: .3s;
}

.form-btn:hover, #sendEmail:hover {
    cursor: pointer;
}

.form-btn:hover {
    background-color: #0d26b4;
}
a{
    cursor: pointer;
    color: rgb(8, 11, 235);
}

textarea {
    resize: none;
    border-radius: 5px;
    border: none;
    width: 50%;
    font-size: .9rem;
}

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(92, 103, 168);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 30%;
    margin: 120px auto;
}

a {
    color: white;
}

@media screen and (max-width: 1180px) {
    .main-form {
        width: 50%;
    }
}

@media screen and (max-width: 920px) {
    .main-form {
        width: 80%;
    }
}